body.dark-mode {
  --text-main: var(--color-white-6);
  --text-muted: var(--color-black-144);
  --text-completed: var(--color-brown-8);
  --text-sub: var(--color-black-144);
  --text-primary: var(--color-pink-1);
  --text-white: var(--color-white);
  --text-priority-high: var(--color-pink-2);
  --text-priority-mid: var(--color-orange-10);
  --text-priority-low: var(--color-green-10);
  --bg-priority-high: var(--color-gray-11);
  --bg-priority-mid: var(--color-gray-11);
  --bg-priority-low: var(--color-gray-11);
  --bg-muted: var(--color-gray-12);
  --bg-muted-hover: var(--color-gray-15);
  --border-light: var(--color-brown-8);
  --border-muted: var(--color-gray-14);
  --border-actice: var(--color-pink-1);
  --status-success: var(--color-green-10);
  --status-warning: var(--color-orange-10);
  --status-danger: var(--color-pink-2);
  --status-danger-dark: var(--color-red-50);
  --status-danger-bg: var(--color-red-20);
  --overlay-bg: var(--color-black-40);
  --board-bg: var(--color-dark-grey);
  --btn-bg: var(--color-pink-1);
  --btn-bg-hover: var(--color-pink-4);
  --card-bg: var(--color-dark-grey);
  --bg-completed: var(--color-black-3);
  --app-bg: var(--color-black-888);
  --border-focus: var(--color-pink-1);
  --box-shadow-hover: var(--color-white-3);
  --box-shadow-hover-dark: var(--color-white-4);
  --box-shadow-hover-layout: var(--color-white-5);
  --background-color: var(--color-black-123);
  --background-line: var(--color-line-dark);
  --inner-card-bg: var(--color-black-3);
  --text-card: var(--color-gray-828);
}

body.dark-mode :is(.card, .header-top, .stats-grid > div, .controls, .board-column) {
  border-color: transparent;
}

body.dark-mode .custom-select__list {
  box-shadow: 0 2px 5px var(--box-shadow-hover);
}