/* =================================================== */
/* E팀원 담당: 헤더                                   */
/* =================================================== */
section.header-top h1 {
  font-size: var(--font-size-3xl);
  font-weight: 700; /* 굵게 */
  color: var(--text-main);
}

.header-top {
  background-color: var(--card-bg);
  width: 100%;
  padding: var(--gap-md-2) var(--gap-xl);
  gap: var(--gap-lg);
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--gap-lg);
}

.header-top span {
  color: var(--text-primary);
  font-size: var(--font-size-3xl);
}

.header-top svg {
  display: block;
}

.title-area {
  display: flex;
  align-items: center;
  gap: var(--gap-xs); /* 글자와 꽃 사이 간격 (8px) */
}

.header-top [data-stat='date'] time {
  font-size: var(--font-size-xs);
  color: var(--text-muted);
  font-weight: 400;
}

.header-top button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--gap-xxl);
  height: var(--gap-xxl);

  background-color: var(--card-bg);
  border: 1px solid var(--border-light);
  border-radius: var(--radius-circle);

  color: var(--text-muted);
}
